.top {
	height: 100px;
}
.main {
	height: 610px;
}
.f1 {
	height: 400px;
}
.f2 {
	height: 195px;
}
.top0-5 {
	height: 50px;
}
.top2 {
	height: 170px;
}
.btwez {
	padding-top: 5px;
	padding-bottom: 5px;
}
.btwez2 {
	margin-top: 20px;
}